@model AuthorizedAppsViewModel
@using OAuthTutorial.Models.OAuth
@{
    ViewData["Title"] = "Authorized Apps";
    ViewData.AddActivePage(ManageNavPages.AuthorizedApps);
}

<h4>@ViewData["Title"]</h4>
@if (Model.AuthorizedApps?.Count > 0) {
    <table class="table table-striped">
        <tbody>
            @foreach (OAuthClient client in Model.AuthorizedApps) {
                <tr>
                    <td>
                        <div>
                            <strong>@client.ClientName</strong>
                            <p>@client.ClientDescription</p>
                        </div>
                    </td>
                    <td>
                        <form asp-action="Revoke" asp-route-id="@client.ClientId" method="post">
                            <div>
                                <button type="submit" class="btn btn-default" title="Deauthorize this application and remove it from your list">Remove</button>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <div>
        You have no authorized applications! Go out and find some apps to play with.
    </div>

}